.idea/
/front/.idea/
/front/.gradle/
/front/build.gradle
/front/gradle/
/front/local.properties
/back/shetuanbao/.idea/
/back/shetuanbao/target/
/back/shetuanbao/.project
/back/shetuanbao/shetuanbao.iml
