.idea/
front/.idea/
front/.gradle/
front/build.gradle
front/gradle/
front/local.properties
back/.metadata
back/.recommenders
back/RemoteSystemsTempFiles
back/shetuanbao/.classpath
back/shetuanbao/.project
back/shetuanbao/.settings/
back/shetuanbao/target/

