<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stb.dao.ActivitiesMapper">
    <resultMap id="BaseResultMap" type="com.stb.model.Activities">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="activity_title" jdbcType="CHAR" property="activityTitle" />
        <result column="activity_time" jdbcType="CHAR" property="activityTime" />
        <result column="activity_place" jdbcType="CHAR" property="activityPlace" />
        <result column="activity_introduce" jdbcType="CHAR" property="activityIntroduce" />
        <result column="activity_picture" jdbcType="CHAR" property="activityPicture" />
        <result column="community_id" jdbcType="INTEGER" property="communityId" />
        <result column="leixing" jdbcType="INTEGER" property="leixing" />
    </resultMap>

    <select id="pangetactivityByCommunityId" resultMap="BaseResultMap">
    SELECT * FROM `activities` WHERE `community_id`=#{communityId}
  </select>

    <select id="getAlbum" resultType="String">
    SELECT picture_id FROM activity_picture WHERE activity_id=#{activityId}
  </select>

    <select id="getDetail" resultMap="BaseResultMap">
        SELECT * FROM activities WHERE activity_id=#{activityId}
    </select>
<insert id="insertUser" parameterType="Integer">
    insert into activity_user values (activity_id=#{arg0},user_id=#{arg1})
</insert>

<select id="check" resultType="Integer">
    SELECT count(user_id) FROM activity_user WHERE activity_id=#{activityId} AND user_id=#{userId}
</select>

<select id="moGetActivityByName" resultMap="BaseResultMap">
    SELECT * FROM activities WHERE activity_title=#{arg0}
</select>

</mapper>