<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stb.dao.CommunityMapper">
  <resultMap id="BaseResultMap" type="com.stb.model.Community">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="community_name" jdbcType="CHAR" property="communityName" />
    <result column="community_introduce" jdbcType="CHAR" property="communityIntroduce" />
    <result column="community_kouhao" jdbcType="CHAR" property="communityKouhao" />
    <result column="community_tubiao" jdbcType="CHAR" property="communityTubiao" />
    <result column="community_picture" jdbcType="CHAR" property="communityPicture" />
    <result column="community_stat" jdbcType="CHAR" property="communityStat" />
  </resultMap>
  
  <select id="panfindByCommunityName" resultMap="BaseResultMap">
    SELECT * FROM `community` WHERE `community_name`=#{communityName}
  </select>
  
  <select id="panfindByCommunityUser" resultType="Integer">
    SELECT `user_id` FROM `community_users` WHERE `community_id`=#{communityId}
  </select>

  <select id="lugetCommunityNamesByUserId" resultType="String">
      select c.community_name
	  from `community` c, `community_users` cu
	  where cu.`user_id`=#{userId} and cu.`community_id`=c.`community_id`
  </select>

    <select id="check" resultType="Integer">
    SELECT count(user_id) FROM community_users WHERE community_id=#{arg0} AND user_id=#{arg1}
</select>
</mapper>