<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stb.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.stb.model.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="CHAR" property="userName" />
    <result column="userpassword" jdbcType="CHAR" property="password" />
    <result column="useremail" jdbcType="CHAR" property="useremail" />
    <result column="userphone" jdbcType="CHAR" property="userphone" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="userpen" jdbcType="CHAR" property="userpen" />
    <result column="userphoto" jdbcType="CHAR" property="userphoto" />
    <result column="static" jdbcType="CHAR" property="status" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="xueyuan" jdbcType="CHAR" property="xueyuan" />
  </resultMap>

  <select id="findByUserName" resultMap="BaseResultMap">
    SELECT * FROM `users` WHERE `user_id`=#{userId}
  </select>
  
  <select id="pangetstatusByuserId" resultType="string">
    SELECT `static` FROM `users` WHERE `user_id`=#{userid}
  </select>
  
  <select id="pangetuserByuserId" resultMap="BaseResultMap">
    SELECT * FROM `users` WHERE `user_id`=#{userId}
  </select>
  
  <select id="pancheckfriendByuserId" resultType="Integer">
    SELECT `user_id` FROM `friends` WHERE `user_id`=#{param1} AND `friend_id`=#{param2}
  </select>
  
  <insert id="panaddfriendByuserId" parameterType="java.lang.Integer">
  	insert into `friends`(`user_id`, `friend_id`) 
  	values (#{param1}, #{param2})
  </insert>

    <insert id="register" parameterType="com.stb.model.Users" >
        insert into users (user_id, username, userpassword, useremail, userphone, sex, userpen, major, xueyuan) values (#{userId},#{userName},#{password},#{useremail},#{userphone},#{sex},#{userpen},#{major},#{xueyuan})
    </insert>

    <select id="yangGetIdCount"  parameterType="java.lang.Integer"  resultType="Integer">
        SELECT count(user_id) FROM  users WHERE users.user_id=#{userId}
    </select>
<select id="yangGetUserById" resultMap="BaseResultMap">
  select * from users where user_id=#{userId}
</select>

  <delete id="yangDeleteUserById" parameterType="java.lang.Integer">
    DELETE  FROM friends WHERE friends.user_id=#{param1} AND friends.friend_id=#{param2}
  </delete>

</mapper>