<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.community.shetuanbao">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 获取机型信息权限 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 录音 -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.permission.camera" />
    <uses-feature android:name="android.permission.flashlight" />
    <uses-feature
        android:name="android.hardware.camera.back"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <application
        android:name=".chat.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 融云 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.community.shetuanbao.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <!-- <service android:name="io.rong.imlib.ReConnectService" /> -->

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".Login.LoadActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Login.MainFrame"/>
        <activity android:name=".community.MainCommunityActivity" />
        <activity android:name=".community.CommunitySportActivity" />
        <activity android:name=".community.CommunityLiteratureActivity" />
        <activity android:name=".community.CommunityLearningActivity" />
        <activity android:name=".community.CommunityCharitableActivity" />
        <activity android:name=".community.CommunitySearchActivity" />
        <activity android:name=".community.CommunityDetailActivity" />
        <activity android:name=".community.CommunityPeopleActivity" />
        <activity android:name=".community.CommunityStaffActivity" />
        <activity android:name=".Personal.PersonalInformationActivity" />
        <activity android:name=".Personal.MainPersonalActivity"/>
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".chat.lianxiren_message" />
        <activity android:name=".chat.sousuo_lianxiren" />
        <activity android:name=".Login.MainSocialActivity"/>
        <activity android:name=".Personal.PersonalSettingsActivity" />
        <activity android:name=".Personal.PersonalQrActivity" />
        <activity android:name=".Personal.PersonalContactUsActivity" />
        <activity android:name=".Personal.PersonalContactQQActivity" />
        <activity android:name=".Personal.PersonalContactPhoneActivity" />
        <activity android:name=".Personal.PersonalContactWechatActivity" />
        <activity android:name=".Personal.PersonalContactWeiboActivity" />
        <activity android:name=".Personal.PersonalContactEmailActivity" />
        <activity android:name=".Personal.PersonalHelpActivity" />
        <activity android:name=".Personal.PersonalAdviceActivity" />
        <activity android:name=".activity.CheckAlbumActivity"/>
        <activity android:name=".activity.grideActivity"/>
        <activity android:name=".activity.huodong_sousuo"/>
        <activity android:name=".activity.HuoDongDetailActivity"/>
        <activity android:name=".activity.MainCampaignActivity"/>

        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true" />

        <activity
            android:name="io.rong.imkit.activity.PicturePagerActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="io.rong.imkit.mention.MemberMentionedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".chat.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.community.shetuanbao"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="kj7swf8o7v0x2"
            tools:replace="android:value" />

        <activity
            android:name=".chat.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>